<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Downloader</title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;500;800&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <h1>Mel<span class="i">i</span>f<span class="a">a</span>ro</h1>
        <p class="descr">safe and easy Youtube downloader</p>
        <div class="wrapper">
            <form class="form">
                <input class="input" name="url" type="text" placeholder=" any Youtube URL" required>
                <button class="submit">Get</button>
            </form>
        </div>
        <div class="progress">
            <div class="bar"></div>
        </div>
        <div class="card"></div>
    </main>
</body>
<script src="/js/index.js"></script>
</html>